header {
    margin-top: 10vh;
    color: #fff;
    
    .logo {
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    
    ul{
        a{  
            font-size: 14px;
            font-weight: 900;
            padding-bottom: 4px;
        }
        
        a:hover{
            border-bottom: 1px solid #fff;
        }
    }
}
